.backend-page {
	background-color: #bcd6dd;
}

.promotion-machine-background {
	background-image: url(../../img-backend/promotion-machine-background.png);
	background-position: center top;
	height: 200px;
}

p {
	margin-bottom: 0;
}