

.dati-concorso-box {
	
	background-color: white;
	padding: 1rem;
	
	.dati-concorso-title {
		font-size: rem-calc(26);
		font-weight: bold;
		margin: 0;
		line-height: 1;
	}
	.dati-concorso-subtitle {
		font-size: rem-calc(12);
		color: scale-color($bluScuro, $lightness: 25%);
	}
	.dati-concorso-value {
		font-size: 1.5rem;
		display: block;
		padding-top: 5px;
		border-top: black 1px solid;
		
		&.dati-concorso-value--title {
			font-size: 1.2rem;
		}
		
		&.dati-concorso-value--start {
			color: green;
		}
		
		&.dati-concorso-value--end {
			color: red;
		}
		
	}
}