// Stili che servono solo nella dashboard

// il box hrow è definito nel file _hrow


.descrizione-funzionalita {
	font-size: rem-calc(12);
	margin-bottom: 0;
	font-style: italic;
	color: scale-color($bluScuro, $lightness: 25%);
}