// stili per la pagina di gestione contestants o partecipanti
// gestione concorso > gestione partecipanti


.gestione-contestants-stat-box {
	
	background-color: white;
	padding: 1rem;
	
	.stat-box-title {
		font-size: rem-calc(26);
		font-weight: bold;
		margin: 0;
		line-height: 1;
	}
	.stat-box-subtitle {
		font-size: rem-calc(12);
		color: scale-color($bluScuro, $lightness: 25%);
	}
	.stat-box-number {
		font-size: 3rem;
		display: block;
		padding-top: 5px;
		border-top: black 1px solid;
		
		&.stat-box-number--attivi {
			color: green;
		}
		
		&.stat-box-number--pending {
			color: red;
		}
		
	}
}