.hrow {
	padding-top: 2rem;
	//padding-bottom: 2rem;
	
	
	.hrow-heading {
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 0;
	}
	
	.hrow-subHeading {
		font-size: 1rem;
		margin-bottom: 2rem;
		
	}
	
	.hrow-table {
		width: 100%;
	}
	
	// reset di alcune proprietà di default di Foundation
	.breadcrumbs {
		margin-bottom: 0;
	}
	
	
	.hrow-box {
		
		background-color: white;
		margin-bottom: 20px;
		@include border-radius();
		
		.hrow-box-headerbox {
			
					
			padding: 0.5rem 1rem 0.5rem 1rem;
			background-color: $bluScuro;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			
			
					
			.hrow-box-heading {
				font-size: 1.2rem;
				font-weight: bold;
				color: white;
			}	
		}
		

		.side-nav li a:not(.button) {
			padding: 0;
			font-weight: bold;
			color: orange;
			
			&:hover {
				text-decoration: underline;
			}
			
		}
		.side-nav {
			padding: 1rem;
		}
	}
	
	
	
	
}