/*
	
PAGINA LOGIN BACKEND	
	
*/

.login-page {
	background-color: $coloreSfondo;
}


.login-box {
	padding: 2rem;
	background-color: white;
	@include border-radius(8px, 8px);
	@include single-box-shadow(2px, 2px, 15px, null, #a03535, null);
	

	
	.button {
		@include single-box-shadow(20px, 5px, 20px, black);
	}
	
}

