/* ===============================================*/
/* COPYRIGHT  */
/* ===============================================*/
.copyright-desktop {
	background-color: $pm-body-bg; 
	padding-top: 0;
	padding-bottom: 0;	
	position: relative;
	min-height: 75px;
	
	.copyright {
		font-family: $pm-body-font-family;
		font-size: rem-calc(12);
		color: white;
		margin-top: rem-calc(27);
		
	}
}

.logo-bolton {
	background-color: $pm-body-bg; 


	&:after {
		content:" ";
		display: table;
		position: absolute;
		width: 150px;
		height: 70px;
		background: transparent url("../../img-frontend/logo-bolton-footer.png") no-repeat 0 0 scroll;
		right: 0;
		top: 5px;	
	}


}





.copyright-mobile {
	font-family: $pm-body-font-family;
	background-color: $pm-body-bg; 
	padding-top: rem-calc(9);
	padding-bottom: rem-calc(0);
	.copyright {
		font-family: $pm-body-font-family;
		font-size: rem-calc(12);
		color: white;
		
	}
}