/* STILI PER GENRICO FORM INPUT */

.form-generico {
		

	label {
		color: $verde-scurissimo;
	}
	

	
	
	.button {
		margin-top: 1rem;
		background-color: $verde-scuro;
		
		&:hover {
			color: black;
			background-color: $giallo-uhu; //scale-color($verde-scuro, $lightness: 20%);
		}
	}
	
	a {
		text-decoration: underline;
	}
	

		
}

