/* BOX CHE INVIATA ALL'ISCRIZIONE */

.hrow {
	
	
	

	
	// box che ti invita ad iscriverti

	.hrow-iscriviti {
		padding: 1rem;
		margin-bottom: 1rem;
		
		.iscriviti-title {
			font-size: 2rem;
			line-height: 1.2;
			color: black;
		}
		
		.iscriviti-subTitle {
			color: black;
		}
		
		.button {
			background-color: black; 
			
			&:hover {
				background-color: scale-color(black, $lightness: 20%);
			}
		}
				
	}

	
	
} //chiudo hrow