/* BOX CHE INVIATA ALL'ISCRIZIONE */

.hrow {
	
	
	
	.hrow-login {
		background-color: $giallo-uhu; //#a0ed47; //$beige-stradina;
		padding: 1rem;
		@include border-radius(10px);
		@include box-shadow($verde-scuro 2px 2px 10px);
		
		.iscriviti-title {
			font-size: 2rem;
			line-height: 1.2;
			color: $verde-scuro;
		}
		
		.iscriviti-subTitle {
			color: $verde-scuro;
		}
		
		label {
			color: $verde-scuro;
		}
		
		.button {
			background-color: $verde-scuro;
			
			&:hover {
				background-color: scale-color($verde-scuro, $lightness: 20%);
			}
		}

		.recupera-pwd {
			text-decoration: underline;
			color: $verde-scuro;
		}
		
	}
	
	


	
	
} //chiudo hrow