// hrow è lo stile generico di "RIGA"

.hrow {
	margin-top: 2rem;
	margin-bottom: 1rem;
	
	// TESTATA GENERICA
	.hrow-boxTitolo {
		// titolo
		.hrow-boxTitolo-title {
			font-size: rem-calc(32);
			line-height: 1.3;
			margin-bottom: 0;
			color: $verde-scurissimo;
		}
		//Sottotitolo
		.hrow-boxTitolo-subTitle {
			font-size: rem-calc(16);
			line-height: 1.4;
			margin-bottom: 0;
		}		
	}

}