// BARRA DI NAVIGAZIONE

.navigazione-desktop {

	padding-top: 1rem;
	padding-bottom: 1rem;
	
	.prmMainNav {
		// ul
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0;
	}
	
	.prmMainNav-navItem {
		//li
		display: inline-block;
	}
	
	.prmMainNav-navItem-link {
		//a
		font-family: $pm-header-font-family;
		font-weight: 700;
		font-size: 1rem;
		display: block;
		padding: 0.5rem;
		
		&:hover {
			
			background-color: yellow;
			text-decoration: none;
			@include border-radius(4px, 4px);
			color: black;
			
		}
		
	}
	
}