body {
	
	background: url(../../img-frontend/sfondo.png) no-repeat center top #45b640;
	
	
	@media #{$small-up} { }
	@media #{$small-only} {
		
		background-position: center top -360px;
		
		 }
	
	@media #{$medium-up} { }
	@media #{$medium-only} { 
		
		background-position: center top -150px;
		
	}
	
	@media #{$large-up} { }
	@media #{$large-only} { }
	
	@media #{$landscape} { 
		
		
		
		
	}
	@media #{$portrait} { }
	
	
	
	
}