.testata-concorso {
	
	@media #{$small-up} { }
	@media #{$small-only} {
		
		margin-top: 1rem;
		
		 }
	
	@media #{$medium-up} { }
	@media #{$medium-only} { }
	
	@media #{$large-up} { }
	@media #{$large-only} { }
	
	@media #{$landscape} { }
	@media #{$portrait} { }
	
	
}