// IMPOSTAZIONI DI DEFAULT 

// COLORI
$giallo-uhu: #ffed00;
$verde-scuro: #006f31;
$verde-scurissimo: scale-color($verde-scuro, $lightness: -30%);
$beige-stradina: #333; //$beige-stradina: #f2d9ac;

$blu-bostik: #003872;










//FONTS DA TYPEKIT

//header
$pm-header-font-family: "arvo",serif; // REGULAR 400 BOLD 700
$pm-body-font-color: $verde-scuro;
//body
$pm-body-font-family: "expo-serif-pro",sans-serif; // REGULAR 400 BOLD 700
$pm-header-font-color: $verde-scuro;



// VARI OVERRIDES



// BODY BACKGROUND COLOR - overwrite per _settings
$pm-body-bg: #45b640; //#e85959;

// FORMS - overwrite per _settings
$pm-input-border-radius: 5px; // nota che per ottenre il border radius bisogna mettere class="radius" nell'input
$pm-input-border-color: $pm-body-bg; // colore del bordo del form input
$pm-input-focus-border-color: $pm-body-bg; // colore del bordo on focus
$pm-input-focus-bg-color: scale-color($pm-body-bg, $lightness: 60%); // colore dello sfondo dell'input on focus
$pm-form-label-font-size: rem-calc(18);
$pm-form-label-font-color: $verde-scuro;

// LINKS - overwrite per _settings
$pm-colore-links: $verde-scurissimo;
$pm-colore-links-hover: $verde-scurissimo;
$pm-anchor-text-decoration-hover: underline; //none;




body.promotionBody {
	height: auto;
}