.hrow-intro {
	
	color: $verde-scurissimo;
	
	
	.hrow-intro-text {
		font-size: rem-calc(18);
	line-height: 1.4;
		margin-bottom: 0;	
	}
}


.hrow-listaProve {
	background-color: white;
	//padding: 1rem;
	@include border-radius(10px);
	@include box-shadow($verde-scuro 2px 2px 10px);
	
	.listaProve-header {
		color: white;
		background-color: $verde-scuro;
		padding: 1rem 2rem;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		
		
		
	}
	
	.listaProve-content {
		
		padding: 1rem 2rem;	
		
		
		.listaProve-content-titolo {
			
			font-size: 1.125rem;
			line-height: 1.2;
			margin-bottom: 0;
			
		}
		.listaProve-content-desc {
			
		}
		
		
		
	}
	
	
}



.hrow-listaProve--Attive {

	
	
	
	
}

.hrow-listaProve--Scadute {

}